h1, h2, h3, h4, h5, h6 p, span {
  color: #111111;
  font-family: 'Dongle', sans-serif;
}
.navbar {
  background: #EAE9E9;
}
.navbar img {
  width: 50px;
}
.nav-item a {
  position: relative;
}
.nav-item a::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  height: 3px;
  width: 0;
  background: #5150EB;
  transition: 1s;
}
.img-div img {
  position: relative;
  left: 75px;
}
.nav-item a:hover {}
.nav-item a:hover::after {
  width: 100%;
}
.nav-d {
  z-index: 100;
}
button.btn {
  border-radius: 25px;
}
/* ******banner****** */

.banner .tex-d {}
.banner .tex-d h4 {
  padding: 20px;
}
.banner .tex-d p {
  line-height: 20px;
}
.img-d {
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  top: -40px;
  right: -132px;
}
.w-100 {
  width: 100%;
  height: 100%;
}
/* card */

.card .card-by a {
  display: flex;
  justify-content: center;
}
.card-by span {
  position: relative;
}
.card-by span::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 3px;
  width: 0;
  background: #5150EB;
  transition: 1s;
}
.card-by span:hover:after {
  width: 100%;
}
.card .card-by span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 50px;
  background: #5150EB;
  color: #EAE9E9;
  border-radius: 50% 50% 50% 0;
}
/* *******about**** */

.about {
  background: url(./class-img/video-bg.jpg);
  padding: 180px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(46, 179, 134, 0.404);
}
.about-body {
  display: flex;
}
.about-body span {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 60px;
  background: #ffffff;
  color: #0c0404;
  bordaer-radius: 50%;
  text-align: center;
  font-size: 24px;
}
.about-body i {
  margin-top: 20px;
}